#array-container {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
}

#opn{
    height: 100%;
    text-align: center;
}
#start-button{
    margin-bottom: 180px;
}
.bar {
    width: 45px;
    margin-bottom: 40px;
    padding: 7px 2px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    line-height: 30px;
    border: 2px solid #000;
}

.highlight {
    background-color: orange;
}

.found {
    background-color: green;
}
